*{
    box-sizing: border-box;
}
/* */

/*  */
.calc { 
    margin: 50px auto; 
    width: 300px;
    height: 460px;
    border:  1px solid #00000000;
    border-radius: 25px;
    background: #000;
    color: #fff;
    font-family: Arial;
    padding: 18px;
}
/* */
.calc-screen {
    height: 80px; 
    width: 280;
    border-radius:25px;
    background: #333;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 25px;

}
/* */
.calc-screen input {
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    text-align: right;
    font-size: 3rem;
    margin: 0;
    user-select: none;
}
/* */
.buttons {
    display: grid;
    grid-template-areas: 
    "AC plus-minus percent division"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid-gap: 7px;
    justify-items: center;
}
/* */
.btn {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer; /* */ 
    user-select: none;
}

.btn_active{
    border: 1px solid #fff;
}
/* */
.btn.zero {
    grid-area: zero;
    width: 100%;
    border-radius: 34px;
}
/* */
.btn:hover {
    filter: brightness(120%);
}
/* */
.btn:active {
    filter: brightness(90%);
}

.btn.bg-blue {
    background: #1c4274b9;

}

.btn.bg-grey {
    background: #a6a6a68c;
}

